// Colors
//base bg
$base: #131312;
$darkash: #21211F;
$fineash: #48464155;
$base-brown: #702B19;
$midnight: #09172D;

//Primary
$primary: #90F1C4;

//Secondary
$secondary: #F8BA42;

//warning
$warning: $base-brown;

//Accents
$danger: #d82340;

// Base
$body-bg: $base;
$body-color: $primary;
$light: $darkash;

@import "assets/scss/main.scss";
@import "../node_modules/bootstrap/scss/bootstrap";

.btn-custom {
  background-color: transparent;
}

.main-layout {
  padding: 20px;
}

.auth-nav{
  margin-left: 20px;
}

