@import './animations.scss';

.nav-item .nav-link.active {
  color: $secondary;
  border-bottom: 1px solid $secondary;
}

a {
  color: $primary;
  text-decoration: none !important;
}

.modal-content {
  background-color: $darkash !important;
}

/* Main Header */
.header {
  background-color: $darkash;
  border-bottom: 2px solid $fineash;
}

.desktop-nav .dropdown-menu,.desktop-nav .dropdown-menu .dropdown-item{
	background-color: $base;
	color: $primary;
}

.desktop-nav .dropdown-menu .dropdown-item:hover {
	background-color: $primary;
	color: $base;
}

.desktop-toggle.btn-secondary,
.mobile-toggle.btn-secondary,
.desktop-toggle.btn-secondary:focus,
.mobile-toggle.btn-secondary:focus,
.mobile-toggle.btn-secondary:hover {
	color: $primary;
	background-color: $darkash;
	border: none;
}

.mobile-toggle.btn-secondary,
.mobile-toggle.btn-secondary:hover{
	border: 1px solid $primary;
}

.desktop-toggle.btn-secondary:hover,
.desktop-toggle.btn-secondary.focused,
.mobile-toggle.btn-secondary.focused {
	color: $darkash;
	background-color: $primary;
	border: 1px solid $darkash;
}

.desktop-toggle.btn-secondary:focus,
.mobile-toggle.btn-secondary:focus {
	box-shadow: none;
}

.desktop-sub-nav, .desktop-sub-nav button.desktop-toggle{
	min-width: 100%;
}

.desktop-sub-nav .desktop-toggle-sub.btn-secondary,
.item-link,
{ 
	background-color: $base;
	color: $primary;
	border: none;
	border-radius: 0px !important;
}

.desktop-sub-nav .desktop-toggle-sub.btn-secondary:hover,
.item-link:hover { 
	background-color: $primary;
	color: $base ;
	border: none;
	border-bottom: 1px solid $fineash;
}

.desktop-sub-nav .desktop-toggle-sub.btn-secondary a,
.sub-item-link,
.item-link {
	font-size: 0.7em;
	min-width: 100%;
}

.desktop-sub-nav .desktop-toggle-sub.btn-secondary:hover a,
.desktop-sub-nav .dropdown-item a:hover {
  color: $base ;
}

.dropdown-item, .desktop-toggle-sub {
	border-top: 1px solid $fineash !important;
}

.menu-inner {
	border-bottom: 1px solid $fineash !important;
}

.desktop-sub-nav .icon {
	font-size: 12px;
}

.mobile-nav {
	position: relative;
}

.mobile-nav-body {
	position: absolute;
	top: 3.5em;
	right: -0.75rem;
	background-color: $darkash;
	border-top: 1px solid $fineash;

	.mobile-nav-body-container{
		position: relative;
	  background-color: $darkash;
	  min-width: 100vw;
	  z-index: 100000;
	  .card-header {
	    background-color: $darkash;
	    h6 {
	    	font-size: 12px;
	    }
	    .icon {
	    	font-size: 20px;
	    	margin-right: 0.15em;
	    }
	  }
	}
}

/* Hero Section */
.custom-radial-bg {
	background: radial-gradient(circle at 73% 50%, $base-brown, $base-brown 1%,$midnight 50%, $midnight 90%)
}

.hero-image-container{
	width: 100%;
	max-width: 100%;

	.hero-image {
		max-width: 100%;
	}	
}

.hero-image-absolute {
	max-width: 100%;
	opacity: 0.25;
	pointer-events: none; 
}

.navbar-brand img {
	width: 225px
}

.hero-card {
	background-color: $fineash;
	max-width: 325px;
	height: auto;
	flex: 1;
	border-radius: 33px;
}

.btn.cta-button {
	background-color: $primary_data;
	width: 90%;
	margin: 0 auto;
}

.text-primary-data{
	color: $primary_data;
}

.custom-layer-bg {
	position: relative;
	background-color: $darkash;
	height: auto;
	padding-bottom: 5%;
	z-index: 0
}

.transition-layer-node {
	position: absolute;
	display: flex;
	justify-content: center;
	align-content: center;
	height: 100%;
	width: 100%;
	overflow: hidden;
	z-index: -1
}

.transition-layer-node img{
	position: relative;
	margin: auto;
	@include animation('translate-bg 360s linear 1');
	height: 75%;
	width: 75%;
}

.service-page {
	.subheader {
		background-color: $base_layer;
		border-radius: 10px;
	}
}

.service-card{
	background-color: $base_layer;
	border-radius: 20px;
	width: 100%;
	max-width: 360px;
	min-width: 310px;

	.service-card-inner {
		background-color: $darkash;
		border-radius: 10px;
		height: 98%;
		display: flex;
		flex-flow: column;

		.image-container {
			overflow: hidden;
			text-align: center;
			position: relative;
			width: 100%;
			min-height: 150px;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			border-bottom: 2px solid $secondary;

			img {
				position: absolute;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    margin: auto;
				width: 100%;
			}
		}

		.description {
			background-color: $base_layer;
			border-radius: 10px;
			flex: 1;
		}
	}
}

.contact-section {
	background: linear-gradient(to bottom right, $base-brown 0%, $midnight 80%, $midnight 100% );

	.section {
		background-color: $base_layer;
		border-radius: 10px;
	}
}

.footer {
  background-color: $darkash;
  border-top: 2px solid $fineash;
}

.rotate-up {
	@include animation('rotate-up 0.6s ease 1 0s forwards');
}

.rotate-down {
	@include animation('rotate-down 0.6s ease 1 0s forwards');
}

.preprocess-image {
	min-height: 100%x;
	max-width: 100%;
}

